@import "variables";

@mixin display-flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.char-highlight {
    font-weight: bold;
    font-size: 1.4rem;
    color: map-get($colors, main);
}

.sass-display-vender {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

html {
    font-size: 94.75%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    @include display-flex();
    flex: {
        direction: column;
        wrap: nowrap;
    }
    align-items: center;
    padding: map-get($size, default) * 3 0;
    box-sizing: $border-box;
}

.sass-section {
    border: $border-default;
    background: lighten(map-get($colors, main), 72%);
    padding: 2rem;
    text-align: center;
    box-sizing: $border-box;
    width: 90%;
}

.sass-introduction {
    @extend .sass-section;
    box-shadow: map-get($size, tiny) map-get($size, tiny) 0.1rem #ccc;
}

.sass-introduction p {
    margin: 0;
}

.sass-details {
    @extend .sass-section;
    margin: 2rem 0;
}

.section-header {
    border-bottom: $border-default;
}

.section-header h1 {
    margin: 0 0 map-get($size, default) 0;
}

.documentation-links {
    list-style: none;
    margin: map-get($size, default) 0 0 0;
    padding: 0;
    @include display-flex();
    flex-direction: column;

    li {
        margin: map-get($size, tiny) 0;
        background: white;
    }

    .documentation-link {
        text-decoration: none;
        color: map-get($colors, main);
        display: block;
        padding: map-get($size, tiny);
        border: $border-default;
    }

    .documentation-link:hover,
    .documentation-link:active {
        color: white;
        background: map_get($colors, secondary);
        border-color: map_get($colors, secondary);
    }
}

@media (min-width: 40rem) {
    html {
        font-size: 125%;
    }

    .sass-introduction,
    .sass-details {
        width: 30rem;
    }
}
